.container {
    margin: 35vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 600px;
}

.listBody {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titleName {
    margin-bottom: -7px;
}

.icon {
    display:flex;
    flex-direction: row-reverse;
    border: black 5px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}