.container {
    margin: 35vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 600px;
}

.listBody {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.renderedList {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.titleName {
    margin-bottom: -7px;
}
